@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital@0;1&display=swap');

body{
/* CSS GOES HERE */
background-color: rgb(58, 115, 115);
font-family: 'Roboto', sans-serif;
font-size: 20px;
letter-spacing: 2px;
color:  rgb(255, 255, 255);

}
h1{
    font-family: 'Fredoka One', cursive;
        margin: auto;
        text-align: center;
    
        /* width: 50%;
        border: 5px solid rgb(193, 193, 193);
        padding: 10px; */
    padding-top: 20px;
}
p{
    width: 40%;
    /* margin: 0 auto; */
}
img{
    display: block;
    width: 300px;
    margin: 0 auto;
/* deze dingen werken altijd samen om het de centeren op je pagina */
}
a{
    color:rgb(183, 169, 113);
    text-decoration: none;
    /* dit is de basic */
} 
a:link, a:visited{
color: aqua;

}
a:hover, a:active{
    color: white;
    background-color: blue;

}
.party{
    margin-bottom: 40px;
}
.Onderkant{
    /* text-align: center; */
}
.paragraph{
    padding-left: 30px;
}
/* this gets your boxes next to each other */
.container{
    display:flex;
    flex-direction: row;
    /* margin: 0 auto; */
    padding-left: 20%;
    
    
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ce5307;}