@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital@0;1&display=swap');

body{
/* CSS GOES HERE */
background-color: rgb(18, 96, 101);
font-family: 'Roboto', sans-serif;
font-size: 20px;
letter-spacing: 2px;
color:  rgb(255, 255, 255);

}
h1{
    font-family: 'Fredoka One', cursive;
        margin: auto;
        text-align: center;
    
        /* width: 50%;
        border: 5px solid rgb(193, 193, 193);
        padding: 10px; */
    padding: 30px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
   }
    
   .menu {
    /* margin: 20px; */
    padding: 5px;
    border: 1px solid black;
    text-align: center;
   }
    
   .menu ul li {
    display: inline;
    padding: 10px 30px;
   }
    
   .menu ul li a, a:link, a:visited, a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
   }
    
   .menu ul li a:hover {
    color: rgb(8, 54, 102);
    /* text-decoration: underline; */
   }
p{
    width: 40%;
    /* margin: 0 auto; */
}
img{
    display: block;
    width: 300px;
    margin: 0 auto;
/* deze dingen werken altijd samen om het de centeren op je pagina */
}
.Onderkant{
    text-align: center;
    margin: auto;
}
.Onderkant a{
    color:rgb(188, 156, 28);
    text-decoration: none;
    /* dit is de basic */
} 
.Onderkant a:link, a:visited{
color: aqua;

}
.Onderkant a:hover, a:active{
    color: white;
    background-color: blue;

}
.party{
    /* margin-bottom: 40px; */
}

.paragraph{
    padding-left: 30px;
}
/* this gets your boxes next to each other */
.container{
    display:flex;
    flex-direction: row;
    margin: 20px;

    padding-left: 20%;
    /* background-color: rgb(72, 198, 207); */
}

